<div class="edit-job-container">
    <h2>Edit Job Post</h2>
    <form [formGroup]="jobForm" (ngSubmit)="updateJob()">
      <label for="title">Job Title:</label>
      <input type="text" id="title" formControlName="title" required>
  
      <label for="description">Job Description:</label>
      <textarea id="description" formControlName="description" required></textarea>
  
      <label for="salary_min">Minimum Salary:</label>
      <input type="number" id="salary_min" formControlName="salary_min" required>
  
      <label for="salary_max">Maximum Salary:</label>
      <input type="number" id="salary_max" formControlName="salary_max" required>
  
      <label for="industry">Industry:</label>
      <select id="industry" formControlName="industry_id" (change)="onIndustryChange($event)" required>
        <option *ngFor="let industry of industries" [value]="industry.id">{{ industry.name }}</option>
      </select>
  
      <label for="role">Role:</label>
      <select id="role" formControlName="role_id" required>
        <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
      </select>
  
      <button type="submit" [disabled]="jobForm.invalid">Update Job</button>
    </form>
  </div>
  